* {
  margin: 0;
  outline: none;
  list-style: none;
  user-select: none;
}

body {
  background-color: var(--bc);
  max-width: 100%;
  box-sizing: border-box;
  transition: 1s ease;
}

:root {
  --wc: #ddd;
  --ac: #75dab4;
  --yc: #987750;
  --gc: #888;
  --bc: #1d1b19;
  --dc: #181715;
}

::-webkit-scrollbar {
  width: 0px;
}

.mainContainer {
  width: 90%;
  background-color: var(--bc);
  border-right: var(--gc) 1px solid;
  display: flex;
  flex-direction: column;
  border-top: 30vh transparent solid;
  padding-bottom: 10%;
  z-index: 9;
}

.frontText {
  padding: 5% 10%;
  color: var(--yc);
  font-size: 2em;
  text-transform: uppercase;
}

p {
  width: 90%;
  font-size: 2em;
  color: var(--gc);
  padding-bottom: 5%;
}
