.portfolioContainer {
  display: flex;
  padding: 5% 0 0 10%;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  flex: auto;
}

.cardsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15vh;
}

.portfolioCard {
  top: 10%;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: sticky;
  background-color: var(--bc);
  transition: 1s ease;
}

.imgLink {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.5s ease;
}

.imgLink:hover .img {
  filter: blur(4px);
  transform: scale(1.2) rotate(-5deg);
  opacity: 0.4;
}

.portfolioLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  opacity: 0;
}

.portfolioLink:hover {
  opacity: 1;
  height: 95%;
}

.imgLink:hover svg {
  top: 10%;
}

.cardInfo {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25%;
  position: absolute;
  bottom: -70%;
  transition: 1s ease;
}

.cardGit,
.cardLive {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--wc);
  color: var(--wc);
}

.imgLink:hover .cardInfo {
  bottom: 10%;
}

.cardLive {
  display: none;
}

.portfolioLink svg {
  color: var(--yc);
  position: absolute;
  top: 0;
  left: 90%;
  transition: 1s ease;
}

.portfolioCard .cardGit,
.cardLive {
  font-size: 1.2em;
}

.portfolioCard h4 {
  width: 10vw;
  height: auto;
  font-size: 1.8em;
  color: var(--gc);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transform: rotate(90deg);
  white-space: nowrap;
}

.skillsLogo {
  width: 100px !important;
  height: 100px !important;
  object-fit: contain !important;
  opacity: 0.7;
  transition: 0.5s ease;
}

.skillsLogo:hover {
  opacity: 1;
  scale: 1.1;
}

@media (max-width: 768px) {
  .portfolioCard {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .portfolioCard h4 {
    font-size: 1.5em;
    transform: none;
    width: 100%;
  }

  .imgLink {
    width: 100%;
    height: auto;
  }

  .imgLink:hover .img {
    transform: none;
    filter: none;
    opacity: 1;
  }

  .portfolioLink {
    display: none;
  }

  .imgLink:hover svg {
    display: none;
  }

  .portfolioLink:hover {
    height: 85%;
  }

  .cardInfo {
    position: static;
    font-size: small;
    margin: 10px 0;
  }

  .cardGit,
  .cardLive {
    display: flex;
    width: 100px;
    height: 30px;
  }

  .portfolioLink svg {
    width: 30px;
    left: 85%;
  }

  .skillsLogo {
    width: 40px !important;
    height: 40px !important;
  }
}
